<div class="login-container" [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="login-title">Iniciar Sesión</div>

  <div class="input-group">
    <img class="icon-user" src="/icons/user.png" alt="" width="28" height="28" style="border-radius:30px; margin-right:10px;" />
    <input type="text" class="login-input" placeholder="Usuario" formControlName="username" />
  </div>

  <div class="input-group">
    <img class="icon-pass" src="/icons/lock.png" alt="" width="28" height="28" style="border-radius:30px; margin-right:10px;" />
    <input type="password" class="login-input" placeholder="Contraseña" formControlName="password" />
  </div>

  <div class="forgot-password">¿Haz olvidado tu <a routerLink="/recover" style="color:#F4141F;text-decoration:underline;border-radius:30px;">contraseña</a>?</div>

  <button type="submit" class="login-btn" [disabled]="loginForm.invalid || loading">Iniciar</button>

  <div *ngIf="error" style="color:#F4141F; text-align:center; margin-top:8px">{{ error }}</div>
</div>